{%- set rel_attributes = macros_rel_attributes::rel_attributes() | trim -%}
{%- set max_projects = max_projects | default(value=999999) -%}
<div class="cards">
    {%- for page in show_pages %}
        {# Used only in main page #}
        {% if loop.index > max_projects %}
            {% break %}
        {% endif %}
        {# Determine which URL to use, default is page.permalink #}
        {%- set blank_target = macros_target_attribute::target_attribute(new_tab=config.markdown.external_links_target_blank and page.extra.link_to) -%}

        {% set target_url = page.extra.link_to | default(value=page.permalink) %}

        <a rel="{{ rel_attributes }}"
            {{ blank_target }}
            href="{{ target_url }}"
            class="card"
            {% if page.taxonomies %}
            data-tags="{% for tax_name, terms in page.taxonomies %}{% for term in terms | unique %}{{ term | lower }}{% if not loop.last %},{% endif %}{% endfor %}{% endfor %}"
            {% endif %}>
            {% if page.extra.social_media_card %}
                {% set thumb = resize_image(path=page.extra.social_media_card, width=400, op="fit_width") %}
                <img class="card-image" loading="lazy"
                    alt="{{ page.extra.social_media_card }}"
                    src="{{ thumb.url }}"
                    {% if thumb.width %}width="{{ thumb.width }}"{% endif %}
                    {% if thumb.height %}height="{{ thumb.height }}"{% endif %}>
            {% elif page.extra.remote_image %}
                <img class="card-image" loading="lazy"
                    alt="{{ page.extra.remote_image }}"
                    src="{{ page.extra.remote_image }}">
            {% else %}
                <div class="card-image-placeholder"></div>
            {% endif %}

            <div class="card-info">
                <h2 class="card-title">{{ page.title | markdown(inline=true) | safe }}</h2>
                <div class="card-description">
                    {% if page.description %}
                        {{ page.description | markdown(inline=true) | safe }}
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor -%}
</div>
