{% extends "base.html" %}

{% block main_content %}
    {% if page.extra.og_preview_img %}
    <img class="card-image" alt="{{ page.extra.og_preview_img }}" src="{{ get_url(path=page.extra.og_preview_img) }}" />
    <!-- Debug info -->
    {% else %}
    {% endif %}
    {{ post_macros::content(page=page)}}
{% endblock main_content %}


{% block comment %}
    {% if config.extra.comment | default(value=false) %}
        <div class="giscus"></div>
        {% include "_giscus_script.html" %}
    {% endif %}
{% endblock comment %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock footer %}